{{! template-lint-disable link-rel-noopener no-curly-component-invocation no-forbidden-elements
no-link-to-positional-params }}
<HeadLayout />

{{!-- Indententation is intentional to reduce diff from upstream --}}
<div class="site-wrapper">

  {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
  {{outlet}}

  {{!-- The footer at the very bottom of the screen --}}
  <footer class="site-footer outer">
    <div class="site-footer-content inner">
      <nav class="site-footer-nav">
        <h3>INFO</h3>
        <ul class="nav-link-list">
          {{!-- <li><LinkTo @route="page" @model="events">Angebote</LinkTo></li> --}}
          <li><LinkTo @route="page" @model="spielekuenstla">Verein</LinkTo></li>
          <li><LinkTo @route="page" @model="charter">Gründungssatzung</LinkTo></li>
          <li><a href="mailto:info@spielekuenstla.de">Kontakt</a></li>
          <li><LinkTo @route="page" @model="legal">Impressum</LinkTo></li>
        </ul>
      </nav>

      <nav class="site-footer-nav">
        <h3>SOCIAL MEDIA</h3>
        <ul class="nav-link-list">
          <li>
            <a href="https://rezensionen-fuer-millionen.blogspot.com/2018/10/spielend-fur-toleranz.html" target="_blank" rel="noopener">Spielend für Toleranz</a>
          </li>
          <li>
            <a href="https://discord.gg/7vd8c9Ev7t" title="Trete dem Spielekünstla Discord bei" target="_blank" rel="noopener"><SvgIcons::Discord /><span>&nbsp;Discord</span></a>
          </li>
          <li>
            <a href="https://instagram.com/spielekuenstla" title="Besuche Spielekünstla auf Instagram" target="_blank" rel="noopener"><SvgIcons::Instagram /><span>&nbsp;Instagram</span></a>
          </li>
        </ul>
      </nav>
    </div>
    <section class="inner">
      Spielekünstla e.V. &copy; {{date format="YYYY"}}
    </section>
  </footer>

</div>

{{!-- The big email subscribe modal content --}}
{{#if @labs.subscribers}}
  <div id="subscribe" class="subscribe-overlay">
    <a class="subscribe-overlay-close" href="#"></a>
    <div class="subscribe-overlay-content">
      {{#if @site.logo}}
      <img class="subscribe-overlay-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
      {{/if}}
      <h1 class="subscribe-overlay-title">Subscribe to {{@site.title}}</h1>
      <p class="subscribe-overlay-description">Stay up to date! Get all the latest &amp; greatest posts delivered straight
        to your inbox</p>
      {{subscribe_form placeholder="youremail@example.com"}}
    </div>
  </div>
{{/if}}

{{!-- {{#if pagination.pages}}
<script src="{{asset " built/infinitescroll.js"}}"></script>
{{/if}} --}}